.col{
  padding: 15px;
}

.navbar{
  position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: row;
    align-content: space-around;
  }
.navbar div ul li{
  display: inline;
  width: auto;
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}  
.navbar div ul li a{
  color: black;
}

.navbar div ul li:hover{
  transform: scale(2);
  transition-property: all;
  transition-duration: 2s;
}


